<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archimed Animation</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

</head>
<body>
<h1>Условие плавания тела (сила Архимеда)</h1>
<form id="archimedesForm">
    <label for="density">Плотность жидкости (кг/м³):</label>
    <input type="number" id="density" name="density" step="0.01" min="0.01" required><br><br>

    <label for="volume">Объём тела (м³):</label>
    <input type="number" id="volume" name="volume" step="0.01" min="0.01" required><br><br>

    <label for="mass">Масса тела (кг):</label>
    <input type="number" id="mass" name="mass" step="0.01" min="0.01" required><br><br>

    <button type="submit">Вычислить и анимировать</button>
</form>

<div class="container">
    <div class="ball ball1"></div>
    <div class="water"></div>
</div>

<h2>Результат:</h2>
<p id="archimedesForce">Сила Архимеда: </p>
<p id="gravityForce">Сила тяжести: </p>
<script src="/script.js"></script>

</body>
</html>